/* My Styles */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body{
    color:white;
    background-image: url("./../img/w5.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;   
    
}



body.pushable>.pusher{
    background-image: url("./../img/w5.jpg");
    background-size: cover;


}


li{
    font-size:3em;
    line-height: 1.5em;
    list-style: none;
}


.weather-icon{
    padding: 0px;
    padding-left: 10%;
    margin-bottom: -40px;
    
}

.city{
    font-weight: 400;
    font-size:16pt;
    padding-bottom: 25px;
    
    
}

.temp{
    font-size:52pt;
    font-weight: 300;
    
}

.list{
    margin: 0 auto;
    padding-left: 0px;
    margin-top: 10%;
   background-color: rgba(0,0,0,.3);
    box-shadow: 0px 0px 10px black;
    width:70%;
    margin-bottom: 100px;

    
    
}



.overlay{
    background-color: rgba(0,0,0,.85);
    width: 100%;
    height: 100%;
}

.hidden{
    display:none;
}

#config{
margin-top: 15px;
}

#fcButton{
    color:white;
    background-color: rgba(0,0,0,.3);
    margin-top: 50px;
    width: 70%;
    height: 50px;
    border-radius: 0px;
    margin-bottom: 10px;
}


#bottomFix{
    width:100%;
    height: 25%;
    
}

.title{
color:rgba(255,255,255,.9) !important;
}
